/Project/node_modules
/Project/public/build
/Project/public/hot
/Project/public/storage
/Project/storage/*.key
/Project/vendor
/Project/.env
/Project/.env.backup
/Project/.phpunit.result.cache
/Project/Homestead.json
/Project/Homestead.yaml
/Project/auth.json
/Project/npm-debug.log
/Project/yarn-error.log
/Project/.idea
/Project/.vscode
